@use '../main/variables.scss';

main{
    display: flex;
    flex-direction: column;
    justify-content: center;


.section_main_udemy{
    display: flex;
    justify-content: center;
    align-items: center;

    .section_main_udemy_foto{
        width: 85%;
        height: 40rem;
        object-fit: cover;
    }
}


    section.sectie_udm1{
        img.sectie_udm_foto2{
            width:100%;
        }
    }




.udm_sectie_kaartjes{
    display: flex;
    justify-content: center;
    position: relative;
    height: 5rem;
    width:53%;
    bottom: 32rem;

    .kaart_h2{
        width: 25ch;
        font-weight: bolder;
        font-size: 3rem;
    }

    .kaartjes_p{
        width: 38ch;
        
    }

    .udm_kaart_div2{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 1.5rem;
        padding: 2rem;
        width: 42.5rem;
        height: 20rem;
        background: variables.$white;
        border-radius: 0.5rem;
        box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(0,0,0,0.1);
    }
}

.udm_artikel4{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 12rem;
    width: 85%;
    padding: 2rem;
    gap: 2rem;
     
    
    .udm_sectie-van_keuze{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .txt_artikel_udm{
            font-size: 4rem;
        }

        .p_article_udemy{
            font-size: 2rem;
            width: 70ch;
        }
    }

//    carousel
    .udm_kaartjes3_sectie{
        display: flex;
        flex-direction: column;
        gap: 2rem;


        .udm_kaaartjes_artikel{
            display: flex;
            gap: 2rem;
            
            .div_kaartjes{
                color: rgba(0,0,0,0.9);
                list-style: none;
    
                &:hover {
                    color: rgba(0,0,0,1);
                    cursor: pointer;
                }

                
    
                .article_carousel_horizontal{
                    min-height: 50rem;
                    background: green;
                    
    
                }
            }
        }
    
        .div-txt_kaartjes3{
            width: 70%;
            padding: 3rem;
            min-height: 30rem;
            gap: 2rem;
            
            border: 0.1rem solid rgba(0,0,0,0.5);
            

            .img_kaartjes21{
                min-width: 100%;
                max-height: 40rem;
                object-fit: cover;
            }
            

            .kaartjes_p{
                width: 100%;
            }
        }
    
        .carousl{
            display: flex;
            flex-direction: column;

            .knopjes_kaartjes_txt{
                min-width: 12rem;
                max-width: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                height: 4rem;
                border:0.1rem solid;
                background: white;
                font-weight: 600;
                cursor: pointer;

                &:hover{
                    background: rgba(0,0,0,0.9);
                    color: white;
                }
            }
        }
    // einde carousel
    }

    // product cards

    .sectie_kaartjes_udm{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 8rem;
        height: 60rem;
        gap: 2rem;

        .sectie_kaartjes_udm_h1{
            font-weight: 900;
            font-size: 3rem;
        }


        .artikel_kaartjes31_udm{
            display: flex;
            gap: 1.3rem;
            overflow: hidden;

            .div_kaartjes124{
                width: 25rem;
                height: 35rem;
                box-shadow: 0.5rem 0.5rem 2rem 0.111rem rgba(0,0,0,0.3);
                border-radius: 0.5rem;
                background: rgba(255, 255, 255,0.5);
                position: relative;
                cursor: pointer;

                .artikel_txt_kaartjes1234{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding:1rem 0.5rem;

                    .bericht_div_sterretjes{
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .bericht_p13{
                            color: rgb(155, 106, 14);
                        }

                        .bericht_li{
                            list-style: none;
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                            

                            .fa-star{
                                font-size: 1.5rem;
                                color: orange;
                            }
                            
                        }
                    }

                    .prijs_kaartjes12{
                        display: flex;
                        gap: 2rem;

                        .prijs_momenteel{
                            font-weight: 700;
                            font-size: 1.8rem;
                        }

                        .prijs_opmerking_kaartjes{
                            color: rgba(0,0,0,0.5);
                            text-decoration: line-through;
                            font-size: 1.8rem;
                        }
                    }

                }

                .div_kaartjes124:hover .overlay{
                    opacity: 1;
                }

                .overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transform: 0.5s ease;
                    background: rgba(0,0,0,0.2);
                }



                .udm_kaartjes_fotos12{
                    width: 100%;
                    height: 40%;
                    object-fit: cover;
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;

                    
                }
            }
        }
    }
}




.kaartjes_katogorie_udm{
    background: #f7f9fa;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 14rem;
    flex-direction: column;
    
    

    .div_kotogorie_kaartjes56{
        display: flex;
        gap: 4rem;
        flex-direction: column;
        width: 100%;
        height: 40rem;
        padding: 2rem 0;
        

        .artikel_katogorie_123{
            display: flex;
            justify-content: space-between;
            
            
            width: 100%;
            

            .kotogieen_divs{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 3rem;

                .sub_kotogieen_divs{

                    &:hover{
                        color: orange;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .p_kotogieen_divs{
                        
                    &:hover{
                        color: orange;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                    

                .h1_kotogieen_divs{
                    
                    &:hover{
                        color: orange;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    }
                }
            }
        }
        
        .knopjes_katogorieeen_games{
            width: 22rem;
            min-height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.1rem solid rgba(0,0,0,0.5);
            background: white;
            cursor: pointer;
            font-weight: 600;
    
            &:hover{
                background: rgba(0,0,0,0.01);
    
            }
        }   
    }
}

.instruc_actief{
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;


    .sectie_intructeur{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8rem;
    

    .div_instractor_image{
        width: 45rem;
        

        .intructie_foto{
            width: 100%;
            min-height: 40rem;
            object-fit: cover;
            border-radius: 0.5rem;
        }
    }


    .div_intractor_text{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .h1_intractor{
            font-weight: 600;
            font-size: 3rem;
        }

        .p_instractor{
            width: 38ch;
        }
        
        .knopje_intrs{
            width: 25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
            background: rgba(0,0,0,0.9);
            color: white;
            cursor: pointer;
            font-weight: 600;

            &:hover{
                background: rgba(0,0,0,1);
            }
            
        }
    }

}
    
}

.sectie_mederwerker{
    height: 40rem;
    display: flex;
    align-items:center;
    flex-direction: column;
    

    .artikel_trust_medewerker{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        width: 100%;
        padding: 2rem;
        background: #b8ddef;
        height: 25rem;

        .txt_tru_mewerkeras{
            font-size: 3rem;
            font-weight: 600;
        }

        .div_trusted_by_team{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10%;
        }
    }
}

.sectie_udm_werk{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50rem;

    .atikel_udm_werk3{
        display: flex;
        padding: 2rem;
        width: 50%;
        height: 40rem;
        gap: 2rem;
        
        
        .div-udm_txt_werk{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            width: 100%;

            .buttonfoto_txt_dm_werken1{
                width: 20rem;
                height: 4rem;
                background: rgba(0,0,0,0.9);
                color: white;
                cursor: pointer;

                &:hover{
                    background: rgba(0,0,0,1);
                }
            }
            .foto_txt_dm_werken1{
                max-width: 100%;
                height: 40%;
                object-fit: contain;
            }
            
        }

        .foto_udmey_werken_124{
            display: flex;
            
            

            .imagefoto_udmey_werken_124{
                width: 100%;
                min-height: 40rem;
                object-fit: cover;
            }
        }
    }

}


// breng verandering

.verander{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    height: 50rem;

    .article_verander{
        display: flex;
        justify-content: center;
        
        
        .div_verander_image{
            display: flex;
            height: 40rem;
            
            .img_veranderen{
                max-width: 100%;
                height: 40rem;
                object-fit: cover;
            }
        }

        .div_veranderen_text{
            display: flex;
            justify-content: flex-start;
            padding: 3rem;
            flex-direction: column;
            gap: 1.5rem;
            width: 40ch;

            .h1_div_veranderen_text{
                font-size: 3rem;
                font-weight: 600;
            }

            .p_div_veranderen_text{
                width: 36ch;
            }

            .knopjes_verander{
                width: 20rem;
                height: 4rem;
                background: rgba(0,0,0,0.9);
                color: white;
                font-weight: 600;
                cursor: pointer;

                &:hover{
                    background: rgba(0,0,0,1);
                }
            }
        }

    }

}




